/*
    <form action="" class="formulaire">
      <label  class="etiquette__nom" for="input__nom">Nom</label>
      <input type="text" id="input__nom">
      <label  class="etiquette__prenom" for="input__prenom">Prénom</label>
      <input type="text" id="input__prenom">
      <label  class="etiquette__tel" for="input__tel">Téléphone</label>
      <input type="text" id="input__tel">
    <fieldset class="form__chk">

*/

/*
https://www.w3schools.com/html/html_forms.asp
*/

.formulaire{
    display : flex;
    flex-direction: column;
    gap : 15px;
}

.formulaire label{

}
.formulaire input[type="text"]{
width : 400px;
}

.form__chk {
    display : flex;
    gap : 5px;
}

.form__chk label{
    padding-left: 25px;
}