/*
    <figure class="galerie">
      <figure class="galerie__figure">
        <img class="galerie__img" src="images/maison_01.jfif" alt="">
        <figcaption class="galerie__caption"></figcaption>
      </figure>
*/



/* Conteneur principal */
.galerie{
    display: flex;                      /* ajustement positions des images */
    flex-wrap: wrap;
    gap : 20px;
    padding : 20px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;


}
/* Conteneur d'image */
.galerie__figure{
    
    width: 200px;                   

   /* height : 100px; */
   /* border : 1px solid #aaa;*/    
 transform: scale(1);
  transition: all .5s;        /* animation des images */
}
/* image */
.galerie__img{

    width : 200px;                         /* modifcations pour le bouton pour rejoindre */
    height: 300px;
  /*  filter: grayscale(100%);*/
  /* filter : hue-rotate(170deg);  */
  /* on ajoute plusieurs filtres à la même propriété filter */
   filter : blur(2px) grayscale(100%) ;
   
}
.galerie__figure:hover{
   
    transform: scale(2);                /* modification animation quand on hover */
    z-index : 10;
}
.galerie__figure:hover  .galerie__img {
     filter :none;
}




/* ////////////////////////////////////////////////// ARTICLE //////////////////////// */

.galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galerie__figure {
  text-align: center;
  margin: 10px; 
}

.galerie__img {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 2px;
  
}

#membre {
  margin-top: 30px;
  border: 2px solid #d12a2a;
  border-radius: 5px;
  background-color: #cc2e2e;
  font-size: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
}

