/*
   <input type="checkbox"  id="chk_burger">
    <label  id="burger" for="chk_burger">
        <img src="https://s2.svgbox.net/hero-outline.svg?ic=menu&color=000" width="32" height="32">
    </label>

    <nav  class="menu">
      <a href="#accueil">Accueil</a>
      <a href="#inscription">Inscription</a>
      <a href="#galerie">Galerie</a>
    </nav>

*/

#chk_burger {
    display: none;
}
#chk_burger:checked ~ .menu {
    transform: translateY(0);
}
/* Permet de controler l'apparence du bouton burger
   deux possibilités: ouvrir ou fermer
   ouvrir : les trois barres horizontales apparaît
   fermer : le X apparaît
   */

/* 
si la case à côcher est côcher alors on fait apparaître l'image «X»
et on fait disparaître l'image «  burger »
*/
#chk_burger:checked ~ #burger img:nth-of-type(2){
    display: block; /* active le X */
}
#chk_burger:checked ~ #burger img:nth-of-type(1){
    display: none; /* desactive barres horizontales */
}


#burger {
    width : 40px;
    position: absolute;
    margin-left : auto;
    top:0;
    right : 0;
    z-index : 10;
}

#burger img{
    position: absolute;
    top : 0;
    left : 0;
}

#burger img:nth-of-type(1){
  display : block;
}

#burger img:nth-of-type(2){
    display : none;
}

.menu {
    display : flex;
    flex-direction: column;
    position : absolute;
    right : 0;
    top: 0;
    transform: translateY(-250%);
    transition : transform .25s;
    background-color: #000;
    gap:5px;
    padding : 5px;
    width : 250px;
   
}

.menu a {
     color : #fff;
}