/* --------------------------------------- initialisation */
@font-face {
    font-family: OnePi;
    src: url(../font/One\ Piece\ -\ PERSONAL\ USE.ttf);
}
*{
    margin:0;
    padding:0;
}

html {
    box-sizing: border-box;
     }
    *,
    *:before,
    *:after {
    box-sizing: inherit;
    scroll-behavior: smooth;
     }
/* ------------------------------------------ */   

.logo {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    display : flex;
    /* on défini la direction de l'axe proncipal comme étant vertical */
    flex-direction: column;
   /* width: 100vw;*/
}

/* les conteneurs  div autour de chaque section */
.global {
   display: flex;
   justify-content: center;
   /* align-items: center;*/ 
   min-width: 100%;
   /* border: 1px solid #aaa; */
   min-height : 100vh;
   font-family: Raleway;
}

.global section,
.global header,
.global footer {
    display : flex;
    flex: 0 1 1000px;
   /* border: 1px solid #aaa; */
   /* rendre la couleur plus foncé, ajoute du noir */
    background-color: rgba(0,0,0, .1) ;
    /*background-color: rgba(255,255,255, .5) ; */
}
.global section,
.global footer {
    flex-direction : column;
}


#entete {
   /* background-color: rgb(220, 204, 102); */
   background-image: linear-gradient(0deg, rgb(238, 40, 40), rgb(161, 2, 2));
    min-height: 1vh;
    /* position : sticky; */
    top:0;
    /* Permet à la division #entete d'être au dessus des zones du site */
    z-index: 10;
    
}

#entete header {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* permet de définir le référentiel pour le menu */
    position : relative;
}



.entete__form input {
    border: 1px solid #ee4949;
    padding: 2px 6px;
    margin: 4px;
    background-color: #ee4949;
    border-radius: 6px;
   
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

#entete .entete__form input::placeholder {
    color: white; 
  }
#entete .entete__form input:focus::placeholder {
    color: grey;
}
#accueil {
    background-color: 	#9e7f65;
}

#inscription {
    background-color: 	#9e7f65;
}

#galerie {
    background-color: 	#9e7f65;
}

#article {
    background-color: 	#9e7f65;
}

#tableau {
    background-color: #9e7f65;;   
}
#piedpage {
    background-color: 	#9e7f65;
}

#video {
    background-color: #9e7f65;
}

#Titre01 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

h1 {
    font-size: clamp(2.25rem, -0.0417rem + 7.3333vw, 5rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-size: clamp(1.75rem, 0.0833rem + 5.3333vw, 3.75rem);
}

h2{
    margin-top : 5px;
}

h3 {
    display: flex;
    justify-content: center;
}

.intro {
    flex: end;
    flex-direction: row;
    font-size: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    font-family: Raleway;
    color: #e0d6d6;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}




