

.nomFilm{
    background-color: #e94d4d;          /* modification des noms des films */
    color: white;
    font-size: 20px;
}

.tableau__img {
    width: 150px;               /* taille img tableau */
    height: 250px;
}

.date {
    text-align: center;             /* modifications des dates de sortis des films */
    background-color: #e94d4d;
    color: #fff; 
     
}

.classement{
    text-align: center;             /* modifications des chamgenets des ratings des films */
    background-color: #e94d4d;
    color: #fff;
}

tfoot td{                           
    font-size: 25px;
    text-align: center;
    background-color: #fff;
}

#attention {
    color: red;
    font-weight: bold;
    
}

.empereur {
    padding: 50px;              /*espacement entre la premier tableau et le deuxieme */
   
}

.poster {
    width: 240px;
    height: 300px;
}

.nom {
    font-family: OnePi;
    background: linear-gradient( #3d2210, #52330b);
    color: white;
}

#filmTitre {
    font-size: 50px;

}

#empereurTitre {
    font-size: 50px;
    font-family: OnePi;
}

#empereurs {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}